.venv/
.venv-win/
__pycache__/
*.pyc
.DS_Store

models/*.bin
models/*.pkl
models/*.joblib

output/**/*.db
output/**/*_shards/

output/*.tsv

experiments/*.csv

output/models/*.joblib
output/models/cached_*.json
output/models/train_pairs.csv

.ipynb_checkpoints/
